
@font-face {
  font-family: "Roboto-Black";
  src:url("/static/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Light";
  src:url("/static/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto-Regular";
  src:url("/static/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

#tit-tabel{
margin:10px 0 10px 0; 
text-transform: uppercase;
color: #fff;
font-weight: bold;
}

.traco{
  color: #000;
}

.info{
    font-size: 12px;
    width: 100%;
    clear: both;
    margin-bottom: 5px;
    display: block;
}

#rodape{
  background-color: #0057af;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  padding: 1%;
  width: 98%;
  border-radius: 6px;
  display: block;
  color: #fff;
}

#rodape ul{
    list-style: none;
    font-size: 12px;
    margin: 0;
    padding:0;
}

body{
    margin:0;
    padding:0;
    /*background:url(/static/img/61.jpg);*/
    background-color: #9cd1c9;
    font-family: "Roboto-Regular";
}

h1{
  color: #fff;
}

/* tabellaa*/
#hor-minimalist-b{
    font-family: "Roboto-Regular","Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 0;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
    border-radius: 6px;
}

#hor-minimalist-b th
{
    font-family: "Roboto-Black";
    font-size: 12px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    /*border-bottom: 2px solid #6678b1;*/
    border-bottom: 2px solid #03a9f4;
}
#hor-minimalist-b td
{
    border-bottom: 1px solid #ccc;
    /*color: #669;*/
    color: #000;
    padding: 6px 8px;
    font-size: 12px;
}
#hor-minimalist-b tbody tr:hover td
{
    color: #03a9f4;
}


/* meuuss */
#logo{
    width: 15%;
    margin-top: 0.5%;
    margin-left: 0.5%;
    float:left;
}

#container{
  margin: 0 auto;
  width: 98%;
  /*background-color: green;*/
}

.linha{
    width: 100%;
    margin-bottom: 10px;
    clear:both;
    height: auto;
}

.control{
    height: 50px;
    margin: 2px 0 2px 0;
    clear: both;
    width: 100%;
}

.box-busca{
    /*background-color: red;*/
    margin: 0 1.5% 0 1.5%;
}

.card, .dialog {
  position: relative;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

.form-cont{ 
  position: relative;
  padding:20px 50px 50px 50px;
  display: inline-block;
  width: 800px;
  vertical-align: top;
  background-color: #fff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  float: left;
}

.control-search{
    text-align: center;
  }

/******* bread **************/

.breadcrumb a{
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 14px;
  color: #000000;
  text-transform:uppercase;
}

/*.col-voto, .col-eleitor{
  text-align: right;
}*/

#rodape a[href^="tel:"]:before, #rodape a[href^="tel:"] {
    content: “\260E”;
    margin-right: 0.5em;
    text-decoration: none;
    color:#fff;
}
.blue, .grey{
  margin-right: 10px;
}
