@media screen and (min-width: 960px){
    .box-busca{
        height: 150px;
        width: 30%;
        float: left;
        margin: 0 1.5% 0 1.5%;
        padding: 0 1%;
    }

    .box-home{
        width: 30%;
        float: left;
        margin:0;
    }

    #logor{
        height: 50px;
    }

    #title-busca{
        font-size: 36px;
        font-weight: 200;
        color: #fff;
    }

}

@media screen and (min-width: 758px) and (max-width: 960px) {
    .box-busca{
        height: 150px;
        float: left;
        width: 30%;
        margin: 0 1.5% 0 1.5%;
        padding: 0 1%;
    }

    .box-home{
        width: 30%;
        float: left;
        margin:0;
    }

    .input{
        width: 20%;
    }

    .button{
        width: 10%;
    }

    #logor{
        height: 50px;
    }

    #title-busca{
        font-size: 30px;
        font-weight: 200;
        color: #fff;
    }


}

@media screen and (min-width: 480px) and (max-width: 758px){

    .box-busca{
        height: 150px;
        /*background-color: red;*/
        clear: both;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .box-home{
        width: 100%;
        clear:both;
    }

    .info{
        font-size: 10px;
    }

    .input{
        width: 20%;
    }

    .button{
        width: 10%;
    }

    #logor{
        height: 40px;
    }

    #title-busca{
        font-size: 30px;
        font-weight: 200;
        color: #fff;
    }

}

@media screen and (min-width: 320px) and (max-width: 480px){
    .info{
        font-size: 10px;
    }

    #logo{
        width: 55%;
    }
    .input{
        width: 40%;
    }

    .button{
        width: 30%;
    }

    #logor{
        height: 40px;
    }

    #title-busca{
        font-size: 26px;
        font-weight: 200;
        color: #fff;
    }


}