<html>
<head>
	<title>questoes</title>
</head>
<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">

var nome_questionario;
var questionario_all;
var indice = 0;
var alterSelect = 0;
var alterSelectTexto = "";
var alterSelectIndex = "";
var cont = 1;
var teclaPressionada = 0;
var tecla;
var doisDigitos='';
var contador = 1;

$(document).ready(function() {
	nome_questionario = "{{nome}}";
	
		$('.pula').keypress(function(e){ /* * verifica se o evento é Keycode (para IE e outros browsers) * se não for pega o evento Which (Firefox) */
			var radio = document.getElementsByName("provas");

			if(radio.length>=10){
			
				tecla = (e.keyCode?e.keyCode:e.which);
		  		
		  		if(parseInt(tecla) == 13 && cont==2){ 
		  			cont=1;
		  			contador=1;
				  	doisDigitos = '';
		  			if(indice<parseInt(questionario_all.totalQuest)){
		  				proximo();
		  			}
						  			
		  		}
		  		else{

		  			if(parseInt(tecla)!=13){
				  		if(contador==2){
							var valorNumerico = tecla-48;
							doisDigitos+=valorNumerico;
				  			console.log(doisDigitos);
				  			var numero = parseInt(doisDigitos)+48;
				  			valorTecla(parseInt(numero));
				  			contador=1;
				  			doisDigitos = '';
						}
						else{
							var valorNumerico = tecla-48;
							doisDigitos+=valorNumerico;
							contador+=1;
						}
				  		
		  			}
		  			else{
		  				cont++;
		  				contador=1;
				  		doisDigitos = '';
		  			};
		  			
		  		};
	  		}
	  		else{
			
				tecla = (e.keyCode?e.keyCode:e.which);
		  		
		  		if(tecla == 13 && cont==2){ 
		  			cont=1;
		  			if(indice<parseInt(questionario_all.totalQuest)){
		  				proximo();
		  			}
						  			
		  		}
		  		else{

		  			if(tecla!=13){
				  		valorTecla(tecla);

		  			}
		  			else{
		  				cont++;
		  				contador=1;
				  		doisDigitos = '';
		  			};
		  			
		  		};
	  		}
	  	});	

	$.ajax({
		  url : "/questionario/",
		  type: "POST",
		  dataType:"json",
		  data :{
		    "nome":nome_questionario,
		    'csrfmiddlewaretoken': '{{ csrf_token }}'
		  },            

		success:function(retorno){
			questionario_all = retorno;
			console.log(retorno);
			console.log(retorno.questionario[0].alter[0]['texto']);
			var i=0;
			$("#enunciado").text(retorno.questionario[indice].enunciado);
			 $.each(retorno.questionario[indice].alter, function(i, item){
		      i+=1;
		      $("#corpoSelectProva").append(
		        '<tr><td><input type = "radio" name = "provas" value = '+item['id']+'-'+item['texto']+'-'+i+' >'+ item['texto']+'</td></tr>'
		      );
		    });
		},

		error : function(xhr,errmsg,err) {
		  console.log("erro");
		  console.log(xhr.status + ": " + xhr.responseText);
		}
	});
});

</script>

<body class = "pula">

	<form id='formbusca' method="post" >
		{% csrf_token %}

		<table class='table table-hover' id = "selectProva">
	        <thead>
	          <tr>
	            <th>
	             <div id= "enunciado"></div>
	            </th>
	          </tr>
	        </thead>
	        <tbody id="corpoSelectProva"> 
	        </tbody>
        </table>  

	</form>

	<!-- <button type="button" id = "pro" name = "proximo">proximo</button>
	<button type="button" id = "fin" name = "finalizar">finalizar</button> -->
	<script type="text/javascript">
	</script>
	
</body>

<script src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">

function valorTecla(numero){

	valorNumerico = numero-48;
	var radio = document.getElementsByName("provas");
	if(valorNumerico <= radio.length && radio.length!=10){
		
		var texto = radio[valorNumerico-1].value.split("-");
		radio[valorNumerico-1].checked=true;
		console.log(texto);
		alterSelect = texto[0];
		alterSelectTexto = texto[1];
		alterSelectIndex = texto[2];
		
	}
	else{
		alert("alternativa invalida!");
	}

};



function checarRadio(){
	var radio = document.getElementsByName("provas"); 
	for (var j = 0; j < radio.length; j++) {
		if(radio[j].checked){
			var texto = radio[j].value.split("-");
			console.log(texto);
			alterSelect = texto[0];
			alterSelectTexto = texto[1];
			alterSelectIndex = texto[2];

		  return true;
		}
		// else{
		//   if(j==radio.length-1){
		//     alert("selecione uma alternativa");
		//     i-=1;
		//     return false;
		//   };          
		// };
	};
};

function clearTable(_idTab, _linhaPersistente){  
        var linhas = document.getElementById(_idTab).rows;  
        var i = 0;  
        for (i= linhas.length-1; i>=0; i--){  
            //alert(linhas[i].innerHTML);  
            if (i != (_linhaPersistente-1) ){  
                document.getElementById(_idTab).deleteRow(i);  
            }  
        }  
};

function proximo () {

 	checarRadio();
	console.log(alterSelect);
	questionario_all.questionario[indice].resposta_id = alterSelect;
	questionario_all.questionario[indice].resposta_texto = alterSelectTexto;
	clearTable("selectProva",1);
	indice+=1;
	if(indice == parseInt(questionario_all.totalQuest)){
		finalizar();
	}
	else{
		var i=0;
		$("#enunciado").text(questionario_all.questionario[indice].enunciado);

		$.each(questionario_all.questionario[indice].alter, function(i, item){
			i+=1;
	 		$("#corpoSelectProva").append(
	    		'<tr><td><input type = "radio" name = "provas" value = '+item['id']+'-'+item['texto']+'-'+i+' >'+ item['texto']+'</td></tr>'
	  		);
		});
	}
	
};

function finalizar () {
	// checa se o radio foi respondido e qual foi a alternativa escolhida
	checarRadio();
	console.log(alterSelect);
	questionario_all.questionario[indice-1].resposta_id = alterSelect;
	questionario_all.questionario[indice-1].resposta_texto = alterSelectTexto;
	// funcao que limpa uma tabela deixando a quantidade de linhas que vc quiser sem limpar
	clearTable("selectProva",1);
	$("#enunciado").text("questionario respondido");
	$.each(questionario_all.questionario, function(i, item){
 		$("#corpoSelectProva").append(

    		'<tr><td><p>'+item.enunciado+'</td></tr>'+
    		'<tr><td><p>'+item.resposta_texto+'</td></tr>'
  		);
	});

	$.ajax({
		  url : "/responder/",
		  type: "POST",
		  dataType:"json",
		  data : {
		  	".":questionario_all,
		  	'csrfmiddlewaretoken': '{{ csrf_token }}'},       

		success:function(retorno){

			alert(retorno.Luis);
		},

		error : function(xhr,errmsg,err) {
		  console.log("erro");
		  console.log(xhr.status + ": " + xhr.responseText);
		}
	});
};

</script>

</html>