<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Entrar | Braddock</title>

    <link rel="stylesheet" href="/static/css/topbar/styles.css">
    <link rel="stylesheet" href="/static/css/topbar/estilo.css">
  </head>


<style type="text/css">

#rodape{
  background-color: #0057af;
  padding: 1%;
  width: 98%;
  bottom:0;
  position:absolute;
  /*height: 60px;*/
  border-radius: 0;
  display: block;
  color: #fff;
}

.button{
  background-color: #0057AF;
  border-radius: 4px;
  float: left;
  line-height: 1;
  cursor:pointer;
  color: #fff;
  border: 1px solid blue;
  text-align: center;
  clear: both;
  width: 100%;
  height: 30px;
}


html,body{
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background-color: #9cd1c9;
  font-family: "Roboto-Regular";
}

.form-signin {
  max-width: 390px;
  padding: 15px;
  margin: 20px auto;
}

.form-signin input{
  font-family: Arial, Verdana;
  font-size: 15px;
  height: 30px;
  padding: 1%;
  width: 98%;
  border: 1px solid #b9bdc1;
  clear: both;
  color: #797979;
  border-radius: 4px;
  margin-bottom: 10px;
}

#top{
  background-color:#0057AF;
  height: 10%;
  clear: both;
}

@media screen and (min-width: 960px){
  #logo2{
  margin: 0 auto;
  display: block;
  width: 30%;
}
}

@media screen and (min-width: 758px) and (max-width: 960px) {
    #logo2{
    margin: 0 auto;
    display: block;
    width: 25%;
    }
  }

@media screen and (min-width: 480px) and (max-width: 758px){
  #logo2{
  margin: 0 auto;
  display: block;
  width: 25%;
}
  }

@media screen and (min-width: 320px) and (max-width: 480px){

  #logo2{
  margin: 0 auto;
  display: block;
  width: 50%;
}
}

</style>
  
<body>
  <div id='top' >
    <center>
      <img id='logo2' src="/static/img/logo2.png" />
    </center>
  </div>
  <form class="form-signin" role="form" action="" method="post">
    {% csrf_token %}
    {{forms}}
    <button id = "login" class="button" type= "submit" >Entrar </button>
  </form>
  <div>
    <center>
      <div>
       <!--  <img  src="/static/img/brvox.png" width="142" height="50" Vspace = "20px" Hspace = "15px" >
        <img src="/static/img/stw.png" width="142" height="50" Vspace = "20px" Hspace = "0px" > -->
     </div>
    </center>
  </div>
  <!-- <div class="linha">
    <div class="wrapper">
      {% include 'rodape.html' %}
    </div>
  </div> -->
</body>

</html>
