<div class="linha">
    <div id="rodape">
        <ul>
            <li>INFORMAÇÕES, SUGESTÕES E ERROS:</li>
            <li>Raiara Feitosa <a href=tel:'(086)9955-3434'>(086) 9955-3434</a></li>
            <li>Lorenna Ribeiro <a href=tel:'(086)9984-2701'>(086)9984-2701</a></li>
            <li>Marcelo Barradas <a href=tel:'(086)9988-4908'>(086)9988-4908</a></li> 
            <li>Fonte dos eleitores: TRE Data 25/07/14 </li>
            <li>Braddock System/ Projeto STW/ Parceria BrVox</li>
        </ul>
    </div>
</div>
