{% extends "base.html" %}

{% block corpo %}

<form action = "" method = "post">
	{% csrf_token %}
	<!-- {{ form.as_p }} -->
	<input type="text" placeholder = "nome">
	<button type = "submit">salvar</button>
</form>
{% endblock %}