
ul {
	list-style: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#topo {
	margin: 0px;
	width: 650px;
	height: 120px;
	padding: 10px; -
	-border: 1px solid green;
	background-color: cbc8c8;
}

#meio {
	width: 650px;
	height: 220px;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 15px;
	color: black;
	font-family: "arial";
	font-size: 12px;
	font-weight: bold;
}

#baixo {
	margin: 0px;
	width: 750px;
	height: 49px;
	padding: 10px;
}

.tb {
	width: 500px;
	height: 100px;
	border-color: gray;
}

#btn1 {
	float: right;
}

#btn1 a {
	text-decoration: none;
	color: black;
}

#btn2 {
	float: left;
	text-decoration: none;
}

#btn2 a {
	text-decoration: none;
	color: black;
}

.z {
	border-color: white;
	color: black;
}



#tudo{
	min-height: 300px;
	width: 750px;
	--border: 1px solid black;
}